/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.*
!.env.example
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Backups e arquivos temporários
/backups
*.sql
*.sql.gz

# Logs
/storage/logs/*.log3

# Ignorar storage runtime
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
storage/logs/*
*.bak

# Manter gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!storage/framework/cache/.gitkeep
!storage/logs/.gitkeep
